In [2]:
# import modules here
import pandas as pd

In [3]:
df = pd.read_csv('/Users/LuQiang/Downloads/creditcard.csv')

In [4]:
df.columns

Index([u'Time', u'V1', u'V2', u'V3', u'V4', u'V5', u'V6', u'V7', u'V8', u'V9',
       u'V10', u'V11', u'V12', u'V13', u'V14', u'V15', u'V16', u'V17', u'V18',
       u'V19', u'V20', u'V21', u'V22', u'V23', u'V24', u'V25', u'V26', u'V27',
       u'V28', u'Amount', u'Class'],
      dtype='object')

In [7]:
df.Class.value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [8]:
df.Amount.max()

25691.16

In [11]:
# V1-V28: principal components
# Time since it is transaction data, we have more than 1 line for a specific time
# Amount transaction amount
# Class target variable

In [12]:
# Exploratory data analysis
# Univariate: distribution
# Bi-variate: correlation
# Multivariate: correlations

In [15]:
df[['Time','Class']]

            Time  Class
0            0.0      0
1            0.0      0
2            1.0      0
3            1.0      0
4            2.0      0
5            2.0      0
6            4.0      0
7            7.0      0
8            7.0      0
9            9.0      0
10          10.0      0
11          10.0      0
12          10.0      0
13          11.0      0
14          12.0      0
15          12.0      0
16          12.0      0
17          13.0      0
18          14.0      0
19          15.0      0
20          16.0      0
21          17.0      0
22          18.0      0
23          18.0      0
24          22.0      0
25          22.0      0
26          23.0      0
27          23.0      0
28          23.0      0
29          23.0      0
...          ...    ...
284777  172764.0      0
284778  172764.0      0
284779  172766.0      0
284780  172766.0      0
284781  172766.0      0
284782  172767.0      0
284783  172768.0      0
284784  172768.0      0
284785  172768.0      0
284786  172768.0      0
284787  172769.0      0
284788  172770.0      0
284789  172770.0      0
284790  172771.0      0
284791  172774.0      0
284792  172774.0      0
284793  172775.0      0
284794  172777.0      0
284795  172778.0      0
284796  172780.0      0
284797  172782.0      0
284798  172782.0      0
284799  172783.0      0
284800  172784.0      0
284801  172785.0      0
284802  172786.0      0
284803  172787.0      0
284804  172788.0      0
284805  172788.0      0
284806  172792.0      0

[284807 rows x 2 columns]